---
---

@import "{{ site.theme }}";

.page-header {
    height: 90px;
    background: #191c20;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 22px;
  color: #4CAF50;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
  color: #4CAF50;
}

.dropdown .dropbtn {
  font-size: 22px;  
  border: none;
  outline: none;
  color: #4CAF50;
  padding: 9px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 9px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
